* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration:none;
    outline: none;
  }


  #intro{
    height:100vh;
    width:100vw;
    background-color:#a2ded0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.2s;
  }

  #intro-text{
    color:#81b1a6;
    font-family: 'Lato';
    font-size:1em;
    transition: ease 0.2s;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
  }
  
  .active {
    background-color: grey !important
  }
  
  .buttonActive {
    background-color: white !important;
    color: white !important
  }
  
  #landing {
    background-color:white;
    background-position:center;
    background-size: cover;
    padding-top:100px;
    padding-bottom: 100px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start; 
  }
  
  #landing h1 {
    color:#2e2e2e;
    font-family: 'Lato';
  }
  
  #landing p {
    font-family: 'Open Sans';
    color:#81b1a6;
    font-size:0.8em;
  }
  
  #landing button {
    cursor: pointer;
    border-radius: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:#a2ded0;
    color: white;
    margin: 12px;
    outline: none;
    margin-top: 20px;
    border:0;
  }
  
  video {
    position: fixed;
    z-index: -1
  }
  
  .component {
    position: fixed;
    height: 100vh;
    width: 400px;
    max-width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease 0.8s
  }
  
  .component button {
    width: 50%
  }
  
  .component img:nth-child(1) {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  
  #question-1 {
    display: none;
    opacity: 0;
    transform: translate(100%); 
  }
  
  #question-1 h1 {
    margin-bottom: 50px;
    font-family: 'Lato';
    font-size: 1.6em;
  }
  
  /*#question-1 button {
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    border-radius: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #000;
    color: white;
    margin: 12px;
    outline: none
  }*/

  #circle-container{
    
    height:130px;
    width:100%;
    display: flex;
    justify-content: center;
    transition: 0.8s ease;
  }

  #normal{
    height:100px;
    width:100px;
    border-radius: 100%;
    border:0;
    background-color:#a2ded0;
    transition: 0.3s ease;
    font-family: 'Open Sans';
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#81b1a6;

  }

  #dry{
    height:50px;
    width:50px;
    border-radius:100%;
    position: relative;
    top:50px;
    right:5px;
    border:0;
    background-color:#a2ded0;
    transition: 0.3s ease;
    font-family: 'Open Sans';
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    color:#81b1a6;
  }

  #oily{
    height:75px;
    width:75px;
    border-radius:100%;
    position: relative;
    border:0;
    transition: 0.3s ease;
    font-family: 'Open Sans';
    font-weight: 700;
    background-color:#f2f2f2;
    color:#c1c1c1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #combination{
    height:130px;
    width:130px;
    border-radius: 100%;
    border:0;
    transition: 0.3s ease;
    font-family: 'Open Sans';
    font-weight: 700;
    background-color:#f2f2f2;
    color:#c1c1c1;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  
  #question-2 {
    display: none;
    opacity: 0;
    transform: translate(100%)
  }

  
#arrow-1 {
  align-self: flex-start;
  position: relative;
  bottom:30%;
  
  color:#81b1a6;
  margin-top:100px;
  padding-left:50px;
  font-size:1.4em;

}
  
  #question-2 h1 {
    margin-bottom: 50px;
    font-family: 'Lato';
    font-size: 1.6em;
  }



  
  #circle-container-2{
    
    width:100%;
    display: flex;
    justify-content: center;
    transition: 0.8s ease;
  }
  


  #hyperpig{
    height:75px;
    width:75px;
    border-radius: 100%;
    border:0;
    transition: 0.3s ease;
    font-family: 'Open Sans';
    font-weight: 700;
    background-color:#f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#c1c1c1;
  }

  #hydratedSkin{
    height:100px;
    width:100px;
    border-radius: 100%;
    border:0;
    transition: 0.3s ease;
    font-family: 'Open Sans';
    font-weight: 700;
    background-color:#a2ded0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#81b1a6;

  }

  #youthfulSkin{
    height:70px;
    width:70px;
    border-radius: 100%;
    border:0;
    transition: 0.3s ease;
    font-family: 'Open Sans';
    font-weight: 700;
    background-color:#f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color:#c1c1c1;
  
  }

  #fightAcne{
    height:100px;
    width:100px;
    border-radius: 100%;
    border:0;
    transition: 0.3s ease;
    font-family: 'Open Sans';
    font-weight: 700;
    background-color:#a2ded0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#81b1a6;
  }
  
  #question-2 #alert {
    margin-top: 30px;
    display: none
  }
  
  
  #loadingPage {
    display: none
  }
  
  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid black;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg)
    }
    100% {
      -webkit-transform: rotate(360deg)
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }
  
  #resultsPage {
    justify-content: space-between;
    background-color: #a2ded0;
    display: none;
    width: 100%;
  }
  
  #resultsPage #arrow-2 {
    align-self: flex-start;
    color:#81b1a6;
    margin-top:100px;
    padding-left:50px;
    font-size:1.4em;

  }
  
  #resultsPage #step-wrapper {
    width: 100%;
    text-align: center
  }
  
  #resultsPage button {
    cursor: pointer;
    border-radius: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin: 12px;
    outline: none;
    border: solid 1px;
    color: black;
    width: 100%;
    margin: 0
  }
  
  #resultsPage .shopButton {
    cursor: pointer;
    border-radius: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #191919;
    color: white;
    margin: 12px;
    outline: none;
    margin: 0
  }
  
  #resultsPage .button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    position: relative;
    top: 18
  }
  
  #resultsPage .button-wrap div {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #81b1a6;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 50;
    overflow: hidden
    border:0;
  }
  
  #resultsPage a {
    width: 100%
  }
  
  #resultsPage img:nth-child(1) {
    max-width: 160px;
    width: 100%
  }
  
  #resultsPage #logo {
    max-width: 120px;
    width: 100%
  }
  
  #resultsPage .step-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
  }

  .step-container a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color:#262626;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 0.8em;

  }
  
  #step-1 {
    transition: ease 0.3s
  }
  
  #step-2 {
    display: none;
    transition: ease 0.3s
  }
  
  #step-3 {
    display: none;
    transition: ease 0.3s
  }
  
  .productTitle {
    align-self: flex-start;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color:#262626;
    font-size: 1.3em;
    margin-bottom: 20px;
    z-index: 3;
    padding-right:50px;
  }
  
  .productDesc {
    font-family:  sans-serif;
    font-size: 0.75em;
    color: #191919;
    margin-top: 10px;
    margin-bottom: 28px;
    font-weight: 500;
    line-height: 2;
  }

  .productImage {
    max-width: 200px;
    width: 100%;
    margin-bottom: 20px;
  }

  .step-info{
    background-color:white;
    width:100%;
    height:40vh;
    padding-top: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-left:50px;
    padding-right:50px;

  }

  .image-container{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    z-index:1;
    background-color:#a2ded0;
  }

  #shop-div-1{
    width:30px;
height:30px;
border-radius:50%;
    color:white;
    background-color:#262626;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
   
    
  }

  .fa-shopping-bag{
    font-size:1em !important;

  }



  
